<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCIM</title>

    <!-- Latest compiled and minified CSS for Bootswatch Journal theme-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-1L94saFXWAvEw88RkpRz8r28eQMvt7kG9ux3DdCqya/P3CfLNtgqzMnyaUa49Pl2" crossorigin="anonymous">

  <!--Google Fonts-->
    <link  href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/ocim_new_style.css">

    <!-- fontawesome
    <script src="https://use.fontawesome.com/0bf9ac1b8c.js"></script>
     -->
     <!-- jQuery Reference -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

    <div id="top" class="row top-row">
        <div class="col-md-12">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
                <header class="pageHeader">
                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">

                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank">
                    <img id="fb-icon" src="/assets/img/facebook-transparent.png">Follow Us</a>
                </header>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a class="forestgreen" href="/index">Home</a></li>
                                <li><a class="forestgreen" href="/events">Events</a></li>
                                <li><a class="forestgreen" href="/aboutUs">About Us</a></li>
                                <li><a class="forestgreen" href="/contactUs">Contact Us</a></li>
                                <li><a class="forestgreen" href="/giftIdeas">Gift Ideas</a></li>
                                <li><a id="news-link" class="forestgreen" href="http://pub.lucidpress.com/ocimfallnewsletter/" target="_blank">Newsletter</a></li>
                            </ul>
                        </div>
                </nav>
            </div>
            <div class="col-md-3 ">
                <a href="/volunteer" id="volunteer" class="btn btn-primary btn-nav">Volunteer</a>
                <a href="/donate" id="donate" class="btn btn-primary btn-nav">Donate</a>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    {{{ body }}}

    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <footer>
                    <p class="footerP">Come Join Hands With Us!<br>
                    He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                    Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194
                    <a class ="footer-right" href="/adminVolunteers" id="login">Admin</a>
                    </p>
                </footer>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</body>
</html>
