<div class="row image-row">
    <div class="col-md-12">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-7 image-div">
        <img src="/assets/img/OCIMparkingLot1.jpg" id="aboutUsImg" alt="OCIM Image" title="OCIM Image" width="75%" height="250px">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="row info-row">
    <div class="col-md-12">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center gray-font">
            <h4 class="green-font">Our Beginning</h4>
            <p class="gray-font">In the early 1981, three pastors gathered for a weekly Bible Study.  Out of these meetings arose discussions about the human needs of Orange County and ultimately, the idea to meet those needs through the united efforts of local Congregations.</p>
            <p class="gray-font">The discussion grew and on May 4, 1981, representatives from five Orange County congregations gathered to form an outreach ministry to fullfill their dreams of feeding the hungry, clothing the naked and ministering to the needs of the people who populated the small towns and rural areas.  Orange Congregations in Mission was born from this meeting.
            </p>
            <p class="gray-font">That same year, a mission statement was developed, and ministries were organized to serve the population of Orange County.
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<div class="row info-row">
    <div class="col-md-12">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center gray-font">
            <h4 class="green-font">Our Mission Statement</h4>
            <p class="gray-font">To minister to the urgent needs of citizens of Northern Orange County through the volunteer efforts of diverse congregations and individuals inspired by faith in God, and to enhance self-sufficiency and awareness of community resources.
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<div class="row info-row">
    <div class="col-md-12">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center gray-font">
            <h4 class="green-font">Ways We Serve Our Community</h4>
            <p class="gray-font">Meals On Wheels</p>
            <p class="gray-font">Samaritan Relief Ministry</p>
            <p class="gray-font">OCIM Thrift Shot</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<div class="row info-row">
    <div class="col-md-12">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 partners text-center">
            <h4 class="green-font">We are members of:</h4>

                <img src="/assets/img/nartsbanner165.gif" id="nartsImg" alt="NARTS logo" title="NARTS Image" alt="NARTS logo">

                <img id="UWTriangleImg"  src="/assets/img/uwTriangleLogo.jpg" alt="United Way of the Triangle">

                <img id="nccnpImg" src="/assets/img/nccnpImg.jpg" alt="NC Center for Nonprofits logo">

                <img id="mowImg" src="/assets/img/mowlogo.jpg" alt="Meals on Wheels ">

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
