    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">

                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">


                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank">
                    <img id="fb-icon" src="/assets/img/facebook-transparent.png" width="50px">Join us on Facebook</a>

                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="#">Home</a></li>
                                <li><a class="forestgreen" href="#">Events</a></li>
                                <li class="active"><a class="forestgreen" href="#">About Us</a></li>
                                <li><a class="forestgreen" href="#">Contact Us</a></li>
                                <li><a class="forestgreen" href="#">Gift Ideas</a></li>
                                <li><a class="forestgreen" href="#">Newletter</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-3">
                <a href="#" id="volunteer" class="btn btn-primary btn-nav">Volunteer</a>
                <a href="#" id="donate" class="btn btn-primary btn-nav">Donate</a>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row image-row">
        <div class="col-md-12">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-7 image-div">
            <img src="/assets/img/OCIMparkingLot1.jpg" id="homeImg" alt="OCIM Image" title="OCIM Image" width="75%" height="250px">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row info-row">
      <div class="col-md-12 ">

        <div class="col-md-1">
        </div>

        <div class="col-md-10 ">
            <div class="col-md-12">
                <div class="col-md-4 contentBox">

                <div >
                <h5>What is OCIM</h5>
                <p>Orange Congregation in Mission is a private, non profit ministry composed of almost 50 congregations in northern Orange County, NC that strives to meet the emergency needs of those who find themselves in a crisis situation and provide a helping hand to those in need.</p>
                <h5>Mission Statement</h5>
                <p>To minister to the urgent needs of citizens of Northern Orange County through the volunteer efforts of diverse congregations and individuals inspired by faith in God, and to enhance self-sufficiency and awareness of community resources.
                </p>
                <h5>Governing Board</h5>
                <p> <span>Membership: </span> comprised of one (1) clergy and two (2) lay representatives from a member congregation.
                <span> Board of Directors:</span> elected by membership and serve 3 year terms.
                </p>
                <h5>Committees</h5>
                <p>Each minitry/program has an Advisory Committee that oversees the specific ministry and functions involved.</p>

                </div>

                </div>
                <div class="col-md-4 contentBox thumbnail">

              <div>
              <h5>The Beginning</h5>
              <p>In the early 1981, three pastors gathered for a weekly Bible Study.  Out of these meetings arose discussions about the human needs of Orange County and ultimately, the idea to meet those needs through the united efforts of local Congregations.</p>
              <p>The discussion grew and on May 4, 1981, representatives from five Orange County congregations gathered to form an outreach ministry to fullfill their dreams of feeding the hungry, clothing the naked and ministering to the needs of the people who populated the small towns and rural areas.  Orange Congregations in Mission was born from this meeting.
              </p>
              <p>That same year, a mission statement was developed, and ministries were organized to serve the population of Orange County.
              </p>
              </div>

                </div>
                <div class="col-md-4 contentBox thumbnail">

              <div class="caption">
                <h5>Ways We Serve Our Community</h5>
                <p>Meals On Wheels</p>
                <p>Samaritan Relief Ministry</p>
                <p>OCIM Thrift Shot</p>
              </div>
              <div class="caption">
                <h5>Member of:</h5>
              </div>
              <div class="media">
              <div class="media-left">
                <a href="#">
                  <img src="/assets/img/nartsbanner165.gif" class="media-object" alt="NARTS logo" title="NARTS Image">
                </a>
              </div>
              <div class="media-body">
                <p class="media-heading">NARTS</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img id="UWTriangleImg" class="media-object" src="/assets/img/uwTriangleLogo.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
              <p class="media-heading">Triangle United Way</p>
              </div>
          </div>
          <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/assets/img/_cv_Hkrq_bigger.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
              <p class="media-heading">NC Center for Nonprofits</p>
              </div>
                  </div>
          <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/assets/img/mow logo.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
              <p class="media-heading">Meals on Wheels Association of America</p>
              </div>
                  </div>
                </div>
            </div>
            <div class="col-md-1">
        </div>

      </div>
    </div>

    <div class="row footer-row">
        <div class="col-md-12 ">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="orange-footer">
                <footer class="ocim-footer">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" id="footerImg" src="/assets/img/ocimBlacktree.jpg">
                        </a>
                        <div class="media-body">

                            <p>Come Join Hands With Us!<br>
                            He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                            Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194<br>

                           <p> @Copyright  S. Gaddy, C. Savino, L. Solanki</p>

                        </div>
                      </div>
                    </div>
                </footer>
                </div>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>
