    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">

                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">

                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank">
                    <img id="fb-icon" src="/assets/img/facebook-transparent.png" width="50px">Join us on Facebook</a>

                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="/index">Home</a></li>
                                <li><a class="forestgreen" href="/events">Events</a></li>
                                <li class="active"><a class="forestgreen" href="/aboutUs">About Us</a></li>
                                <li><a class="forestgreen" href="/contactUs">Contact Us</a></li>
                                <li><a class="forestgreen" href="/giftIdeas">Gift Ideas</a></li>
                                <li><a id="news-link" class="forestgreen" href="http://pub.lucidpress.com/ocimfallnewsletter/" target="_blank">Newsletter</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-3">
                <a href="/volunteer" id="volunteer" class="btn btn-primary btn-nav">Volunteer</a>
                <a href="/donate" id="donate" class="btn btn-primary btn-nav">Donate</a>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row image-row">
        <div class="col-md-12">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-7 image-div">
            <img src="/assets/img/OCIMparkingLot1.jpg" id="aboutUsImg" alt="OCIM Image" title="OCIM Image" width="75%" height="250px">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center green-font">
                <h4 class="bold-orange-font">Our Beginning</h4>
                <p>In the early 1981, three pastors gathered for a weekly Bible Study.  Out of these meetings arose discussions about the human needs of Orange County and ultimately, the idea to meet those needs through the united efforts of local Congregations.</p>
                <p>The discussion grew and on May 4, 1981, representatives from five Orange County congregations gathered to form an outreach ministry to fullfill their dreams of feeding the hungry, clothing the naked and ministering to the needs of the people who populated the small towns and rural areas.  Orange Congregations in Mission was born from this meeting.
                </p>
                <p>That same year, a mission statement was developed, and ministries were organized to serve the population of Orange County.
                </p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center green-font">
                <h4 class="bold-orange-font">Our Mission Statement</h4>
                <p>To minister to the urgent needs of citizens of Northern Orange County through the volunteer efforts of diverse congregations and individuals inspired by faith in God, and to enhance self-sufficiency and awareness of community resources.
                </p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center green-font">
                <h4 class="bold-orange-font">Ways We Serve Our Community</h4>
                <p>Meals On Wheels</p>
                <p>Samaritan Relief Ministry</p>
                <p>OCIM Thrift Shot</p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 partners text-center">
                <h4 class="bold-orange-font">We are members of:</h4>

                    <img src="/assets/img/nartsbanner165.gif" id="nartsImg" alt="NARTS logo" title="NARTS Image" alt="NARTS logo">

                    <img id="UWTriangleImg"  src="/assets/img/uwTriangleLogo.jpg" alt="United Way of the Triangle">

                    <img id="nccnpImg" src="/assets/img/nccnpImg.jpg" alt="NC Center for Nonprofits logo">

                    <img id="mowImg" src="/assets/img/mowlogo.jpg" alt="Meals on Wheels ">

            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                    <footer class="ocim-footer">
                        <p class="footerP">Come Join Hands With Us!<br>
                        He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                        Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194
                        <br>
                        @Copyright  S. Gaddy, C. Savino, L. Solanki
                        <a href="/adminVolunteers" id="login" class="btn btn-primary btn-nav">Login</a>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
