    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="/adminMealsSchedule">Meals Schedule</a></li>
                                <li><a class="forestgreen" href="/adminVolunteers">Volunteer Schedule</a></li>
                                <li><a class="forestgreen" href="/adminEvents">Events Schedule</a></li>
                                <li><a class="forestgreen" href="/index">Home</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>


<div class="info-row">
    <div class="col-md-12 ">

        <div class="col-md-3">
        </div>

        <div class="col-md-6 text-center">
            <table border="1" width="100%">
                <caption class="green-font text-center table-caption">Volunteer Schedule</caption>
                <tr>
                <th class="gray-font text-center">Volunteer Name</th>
                <th class="gray-font text-center">Event</th>
                <th class="gray-font text-center">Phone Number</th>
                </tr>
                {{#each Volunteers}}
                    <tr>
                    <td>{{this.Name}}</td>
                    <td>{{this.EventName}}</td>
                    <td>{{this.Phone}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="col-md-3">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 ">
        <div class="col-md-1">
        </div>

        <div class="col-md-10 text-center">
            <div class="input">
                <h3  class="heading green-font" id="add">Add a Volunteer</h3>
                <div class="form-group">
                    <form method="POST" action="/Volunteers/insertVolunteer" class="addOne text-center">

                        Name:<br><input class= "input-box"type="text" name="Name" required></input><br>

                        Event Name:<br><input class= "input-box"type="text" name="EventName" required></input><br>

                        Phone:<br><input class= "input-box"type="text" name="Phone" required></input><br><br>

                        <button id="btnCreate"  type="submit" >Add a volunteer</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>
<!--
    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                  <footer class="ocim-footer">
                              <p class="footerP">Come Join Hands With Us!<br>
                              He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                              Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194<br>
                             <p> @Copyright  S. Gaddy, C. Savino, L. Solanki</p>
                  </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
-->
