<!--
    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">
                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">
                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="/adminMealsSchedule">Meals Schedule</a></li>
                                <li><a class="forestgreen" href="/adminVolunteers">Volunteer Schedule</a></li>
                                <li><a class="forestgreen" href="/adminEvents">Events Schedule</a></li>
                                <li><a class="forestgreen" href="/index">Home</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>
-->

<div class="row info-row">
    <div class="col-md-12 ">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 text-center">
            <div class="">

                <table border="1" width="100%">
                    <caption class="green-font text-center table-caption">Meals on Wheels Schedule</caption>
                    <tr>
                    <th class="gray-font text-center">Family</th>
                    <th class="gray-font text-center">Driver</th>
                    <th class="gray-font text-center">Route</th>
                    <th class="gray-font text-center">Day</th>
                    </tr>
                    {{#each mealsonwheels}}
                        <tr>
                        <td >{{this.Family}}</td>
                        <td >{{this.Driver}}</td>
                        <td >{{this.Route}}</td>
                        <td >{{this.Day}}</td>
                        </tr>
                    {{/each}}
                </table>

            </div>
        </div>

        <div class="col-md-3">
        </div>
    </div>
</div>

<div class="row add-row">
    <div class="col-md-12 ">
        <div class="col-md-1">
        </div>

        <div class="col-md-10 text-center">
            <div class="input">
                <h4  class="heading green-font add-Meals">Add a Meals on Wheels Family</h4>
                <div class="form-group">
                    <form method="POST" action="/mealsonwheels/insertFamily" class="text-center gray-font">

                        Family Name:<br><input class= "input-box" type="text" name="Family" required></input><br>

                        Driver:<br><input class= "input-box" type="text" name="Driver" required></input><br>

                        Route:<br><input class= "input-box" type="text" name="Route" required></input><br>

                        Day:<br><input class= "input-box" type="text" name="Day" required></input><br><br>

                        <button id="btnCreate"  type="submit" >Add a new Family</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>
<!--
    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                  <footer class="ocim-footer">
                              <p class="footerP">Come Join Hands With Us!<br>
                              He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                              Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194<br>
                             <p> @Copyright  S. Gaddy, C. Savino, L. Solanki</p>
                  </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
-->
