<div class="row info-row">
    <div class="col-md-12 ">

        <div class="col-md-2">
        </div>

        <div class="col-md-8 text-center">
            <table border="1" width="100%">
                <caption class="green-font text-center table-caption">Events</caption>
                <tr>
                <th class="gray-font text-center">Event</th>
                <th class="gray-font text-center">Details</th>
                <th class="gray-font text-center">Date</th>
                </tr>
                {{#each events}}
                    <tr>
                    <td >{{this.EventName}}</td>
                    <td >{{this.Details}}</td>
                    <td >{{this.Date}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="col-md-2">
        </div>

    </div>
</div>

<div class="row add-row">
    <div class="col-md-12 input-row">
        <div class="col-md-1">
        </div>

        <div class="col-md-10 text-center">
            <div class="input">
                <h4  class="heading green-font add-Event" >Add an event</h4>
                <div class="form-group">
                    <form method="POST" action="/events/insertEvent" class="text-center gray-font">

                        Event:<br><input class="input-box" type="text" name="EventName" required></input><br>

                        Date:<br><input class="input-box" type="text" name="Date" required></input><br><br>

                        Details:<br><textarea rows="5" cols="40" class="event-textarea" type="text" name="Details" required></textarea><br>

                        <button class="btnCreate btnGray"  type="submit" >Add a new Event</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>
