    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">
                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">

                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank"><img id="fb-icon" src="/assets/img/facebook-transparent.png" width="50px">Join us on Facebook</a>
                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>


            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="#">Home</a></li>
                                <li><a class="forestgreen" href="/events">Events</a></li>
                                <li><a class="forestgreen" href="/aboutUs">About Us</a></li>
                                <li><a class="forestgreen" href="/contactUs">Contact Us</a></li>
                                <li><a class="forestgreen" href="/giftIdeas">Gift Ideas</a></li>
                                <li><a id="news-link" class="forestgreen" href="http://pub.lucidpress.com/ocimfallnewsletter/" target="_blank">Newsletter</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-3">
                <a href="/volunteer" id="volunteer" class="btn btn-primary btn-nav">Volunteer</a>
                <a href="/donate" id="donate" class="btn btn-primary btn-nav">Donate</a>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

<div class="info-row">
    <div class="col-md-12 ">

        <div class="col-md-3">
        </div>

        <div class="col-md-6 text-center">
            <table border="1" width="100%">
                <caption class="bold-orange-font text-center table-caption">Volunteer Schedule</caption>
                <tr>
                <th class="bold-orange-font text-center">Volunteer Name</th>
                <th class="bold-orange-font text-center">Event</th>
                <th class="bold-orange-font text-center">Phone Number</th>
                </tr>
                {{#each Volunteers}}
                    <tr>
                    <td class="green-font">{{this.Name}}</td>
                    <td class="green-font">{{this.EventName}}</td>
                    <td class="green-font">{{this.Phone}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="col-md-3">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 ">
        <div class="col-md-1">
        </div>

        <div class="col-md-10 text-center">
            <div class="input">
                <h3  class="heading bold-orange-font" id="add">Add a Volunteer</h3>
                <div class="form-group">
                    <form method="POST" action="mealsonsheels/insertFamily" class="addOne text-center">

                        Name:<br><input class= "input-box"type="text" name="Family" required></input><br>

                        Event Date:<br><input class= "input-box"type="text" name="Driver" required></input><br>

                        Phone:<br><input class= "input-box"type="text" name="Route" required></input><br><br>

                        <button id="btnCreate"  type="submit" >Add a new Family</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>

    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                  <footer class="ocim-footer">
                              <p>Come Join Hands With Us!<br>
                              He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                              Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194<br>
                             <p> @Copyright  S. Gaddy, C. Savino, L. Solanki</p>
                  </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
