<div class="row image-row">
    <div class="col-md-12">

        <div class="col-md-1">
        </div>

        <div class="col-md-10 image-div">
            <div class="col-md-12">

                <div class="well col-md-3">
                    <img src="/assets/img/volunteerAdult1.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
                </div>

                <div class="well col-md-3">
                    <img src="/assets/img/volunteerAdult2.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image">
                </div>

                <div class="well col-md-3">
                    <img src="/assets/img/volunteerAdult3.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image">
                </div>

                <div class="well col-md-3">
                    <img src="/assets/img/volunteerAdult4.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
                </div>

            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>

<div class="row info-row">
  <div class="col-md-12 ">

    <div class="col-md-1">
    </div>

    <div class="col-md-10 ">
        <div class="col-md-12">

            <div class="col-md-4 contentBox gray-font">
                <h4 class="green-font">Orange Congregations in Mission is located at:</h4>
                <p>300 Millstone Drive</p>
                <p>Hillsborough, NC 27278</p>
                <p>Open M - F 9am to 5pm</p>
            </div>

            <div class="col-md-4 contentBox gray-font">
                <h4 class="green-font">For more information about our Ministries call:</h4>
                <p>(919) 732-6194</p>
                <p>Samaritan Relief Ministry - Ext.12</p>
                <p>Thrift Shop - Ext.19</p>
                <p>Meals on Wheels - Ext.14</p>
                <p>Pantry Volunteers - Ext.12</p>
                <p>Administration - Ext.10</p>
                <h5 class="green-font">Fax:</h5>
                <p>(919)644-1126</p>
                <h5 class="green-font">Email:</h5>
                <p>ocim300mill@mindspring.com</p>
            </div>

            <div class="col-md-4 contentBox gray-font">
                <h4 class="green-font">Donations accepted at the Thrift Shop</h4>
                <p>Tuesday - Saturday</p>
                <p>9 a.m. to 4:30 p.m.</p>
                <p>Closed Monday</p>
            </div>

        </div>
    </div>

    <div class="col-md-1">
    </div>

  </div>
</div>
