<div class="row image-row">
    <div class="col-md-12">

        <div class="col-md-1">
        </div>
        <div class="col-md-10 image-div">
        <img src="/assets/img/volunteerChildren.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/volunteerChildren2.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/volunteerChildren3.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/volunteerChildren4.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        </div>
        <div class="col-md-1">
        </div>

    </div>
</div>

<div class="row info-row">
  <div class="col-md-12 ">

    <div class="col-md-1">
    </div>

    <div class="col-md-10 ">
        <div class="col-md-12">

            <div class="col-md-4 ">
                <h4 class="green-font goodsearch">Donations through Good Search</h4>
                <p class="gray-font">A donation is made to OCIM for all purchases made using Good Search </p>
                <img src="/assets/img/goodSearchWidget.png" class="" alt="OCIM Image" title="OCIM Image" >
            </div>

            <div class="col-md-4 ">
                <img class="paypalImg" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"/>
                <p  class="gray-font">PayPal Donations to OCIM are tax deductible</p>
            </div>

            <div class="col-md-4 gray-font ">
                <h4 class="green-font giftcard">Gift Ideas</h4>
                <a  href="/giftIdeas"><p class="gift-ideas link-hover" >Thrift Shop Gift Certificates</p></a>
                <a  href="/giftIdeas"><p class="gift-ideas link-hover">Holiday Donation Cards</p></a>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-1">
    </div>

  </div>
</div>
