    <div class="row image-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>
            <div class="col-md-10 image-div">

            <img src="/assets/img/golfEvent.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image">

            <img src="/assets/img/soup.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >

            <img src="/assets/img/firstAnnualPartnerPantry.jpg"class="imageRowImg" alt="OCIM Image" title="OCIM Image" >

            <img src="/assets/img/softBallFundraiser.jpg"class="imageRowImg" alt="OCIM Image" title="OCIM Image" >

            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12 ">
            <div class="col-md-3">
            </div>

            <div class="col-md-6 contentBox text-center">
                <div class="">
                    <h3 class="events-heading">Upcoming Events</h3>

                      {{#each events}}

                            <h4 class="green-font">{{this.EventName}}</h4>
                              <h5 class="gray-font">{{this.Details}}</h5>
                              <h5 class="gray-font">{{this.Date}}</h5>
                              <br>

                      {{/each}}

                </div>
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
<!--
    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                    <footer class="ocim-footer">
                        <p class="footerP">Come Join Hands With Us!<br>
                        He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                        Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194
                        <br>
                        @Copyright  S. Gaddy, C. Savino, L. Solanki
                        <a href="/adminVolunteers" id="login" class="btn btn-primary btn-nav">Login</a>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
-->
