<!--
    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">

                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">

                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank">
                    <img id="fb-icon" src="/assets/img/facebook-transparent.png" width="50px">Join us on Facebook</a>
                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="/index">Home</a></li>
                                <li class="active"><a class="forestgreen" href="/events">Events</a></li>
                                <li><a class="forestgreen" href="/aboutUs">About Us</a></li>
                                <li><a class="forestgreen" href="/contactUs">Contact Us</a></li>
                                <li><a class="forestgreen" href="/giftIdeas">Gift Ideas</a></li>
                                <li><a id="news-link" sclass="forestgreen " href="http://pub.lucidpress.com/ocimfallnewsletter/" target="_blank">Newsletter</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-3">
                <a href="/volunteer" id="volunteer" class="btn btn-primary btn-nav">Volunteer</a>
                <a href="/donate" id="donate" class="btn btn-primary btn-nav">Donate</a>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>
-->

    <div class="row image-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>
            <div class="col-md-10 image-div">

            <img src="/assets/img/golfEvent.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image">

            <img src="/assets/img/soup.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >

            <img src="/assets/img/firstAnnualPartnerPantry.jpg"class="imageRowImg" alt="OCIM Image" title="OCIM Image" >

            <img src="/assets/img/softBallFundraiser.jpg"class="imageRowImg" alt="OCIM Image" title="OCIM Image" >

            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12 ">
            <div class="col-md-3">
            </div>

            <div class="col-md-6 contentBox text-center">
                <div class="">
                    <h3 class="events-heading">Upcoming Events</h3>

                      {{#each events}}

                            <h4 class="green-font">{{this.EventName}}</h4>
                              <h5 class="gray-font">{{this.Details}}</h5>
                              <h5 class="gray-font">{{this.Date}}</h5>
                              <br>

                      {{/each}}

                </div>
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
<!--
    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                    <footer class="ocim-footer">
                        <p class="footerP">Come Join Hands With Us!<br>
                        He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                        Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194
                        <br>
                        @Copyright  S. Gaddy, C. Savino, L. Solanki
                        <a href="/adminVolunteers" id="login" class="btn btn-primary btn-nav">Login</a>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
-->
