<div class="row image-row">
    <div class="col-md-12">

        <div class="col-md-1">
        </div>

        <div class="col-md-10 image-div">
            <div class="col-md-12">

                <div class="well col-md-3">
                    <img src="/assets/img/golfEvent.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image">
                </div>

                <div class="well col-md-3">
                    <img src="/assets/img/soup.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
                </div>

                <div class="well col-md-3">
                    <img src="/assets/img/firstAnnualPartnerPantry.jpg"class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
                </div>

                <div class="well col-md-3">
                    <img src="/assets/img/softBallFundraiser.jpg"class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
                </div>

            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>

<div class="row info-row">
    <div class="col-md-12 ">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 contentBox text-center">
            <div class="">
                <h3 class="events-heading">Upcoming Events</h3>

                  {{#each events}}

                        <h4 class="green-font">{{this.EventName}}</h4>
                          <h5 class="gray-font">{{this.Details}}</h5>
                          <h5 class="gray-font">{{this.Date}}</h5>
                          <br>

                  {{/each}}

            </div>
        </div>

        <div class="col-md-3">
        </div>
    </div>
</div>
