    <div class="row image-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>
            <div class="col-md-10 image-div">
            <img src="/assets/img/Giftcards ad1.jpg" class="giftImg" alt="OCIM Image" title="OCIM Image" width="33%">
            <img src="/assets/img/giving.jpg" class="giftImg" alt="OCIM Image" title="OCIM Image" width="33%">
            <img src="/assets/img/donationgiven.jpg" class="giftImg" alt="OCIM Image" title="OCIM Image" width="33%">
            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12 ">

            <div class="col-md-3">
            </div>

            <div class="col-md-6 text-center gray-font">
                <h4 class="green-font">Alternative Gift Ideas at OCIM</h4>
                <p>Thrift Shop gift certificates are available in denominations of $10, $15, and $25. </p>
                <p>Holiday Cards are available for you to give and let the recipent know you donated to OCIM in their honor. Minimun donation of $5.</p>
                <p>New sleeping bags or blankets can be donated and will be given to the homeless
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12 ">

            <div class="col-md-3">
            </div>

            <div class="col-md-6 text-center gray-font last-row">
                <a class="PayPalLink" href="/donate"><h4 class="green-font"> PayPal donations online are a great way to help families in need.</h4>
                </a>
                <p>Meals on Wheels donations help senior citizens</p>
                <p>$14 will feed a senior a hot meal each day for a week</p>
                <p>$56 will give a senior a month of Meals on Wheels</p>
                <p>Samaritan Relief Ministry dontions help families in need</p>
                <p>$25 will purchase a gallon of milk for 10 families</p>
                <p>$75 will keep a familiy's electricity on for 30 days
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>

<!--
    <div class="row footer-row">
        <div class="col-md-12 ">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="orange-footer">
                    <footer class="ocim-footer">
                        <p class="footerP">Come Join Hands With Us!<br>
                        He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                        Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194
                        <br>
                        @Copyright  S. Gaddy, C. Savino, L. Solanki
                        <a href="/adminVolunteers" id="login" class="btn btn-primary btn-nav loginBtn">Login</a>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
-->
