<div class="row image-row">
    <div class="col-md-12">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 image-div">
        <img src="/assets/img/wheelsAndMeals.JPG" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/Giving-Hands-B.png" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/thriftShopMain.JPG" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/community.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="row info-row">
    <div class="col-md-12">

        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center gray-font">
                <h4 class="green-font">Orange Congregations in Mission</h4>
                <p class="gray-font">OCIM is a private, non-profit ministry composed of almost 50 congregations in northern Orange County, NC that strives to meet the emergency needs of those who find themselves in a crisis situation and provides a helping hand to those in need.</p>
        </div>
        <div class="col-md-3">
        </div>

    </div>
</div>

<div class="row info-row">
    <div class="col-md-12">

        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
                <h4 class="green-font">3 Ways We Serve Our Community</h4>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<div class="row info-row">
  <div class="col-md-12 ">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 ">
        <div class="col-md-12 ">
            <div class="col-md-4 contentBox gray-font">
                <h4 class="text-center green-font">Meals on Wheels</h4>
                <p class="gray-font">The Meals on Wheels program delivers a nutritious meal to frail, elderly and homebound residents of northern Orange County. The only way these meals can be delivered is through the dedication and generosity of the volunteer drivers. Our Meals on Wheels program is very proud to say that not one driver has had to quit or cut down their driving due to the price of gasoline. This shows us that delivering meals is not just a task that must be done, but is an important and delightful part of these drivers’ day.</p>
            </div>
            <div class="col-md-4 contentBox">
              <h4 class="text-center green-font">Samaritan Relief Ministry</h4>
              <p class="gray-font">The Samaritan Relief Ministry has seen an increase in people needing help with the basics of life, such as food, shelter, water, electricity and clothing. Much publicity has been given to the national issue of food banks running out of food. At this point, the Samaritan Relief Ministry has not had to turn anyone away because of a lack of food, though sometimes the ministry has had to purchase the basics such as soup, fruit and beans.</p>
              <p class="gray-font">The Samaritan Relief Ministry has continued to  see “new” families; people who are new to northern Orange County, or who have never had to seek assistance before. As the price of food continues to be high, and incomes do not increase or jobs become scarce, the need for emergency food assistance is only going to grow. The Samaritan Relief Ministry is only able to distribute what it has in stock.</p>
            </div>
            <div class="col-md-4 contentBox gray-font">
                <h4 class="text-center green-font">Thrift Shop</h4>
                <p class="gray-font">A great place to shop for bargains. Clothes are very reasonably priced. Antique and rare book shoppers are welcome! Household items and furniture are gently used and cleaned. Revenue from the OCIM Thrift Shop supports our ministries.</p>
                <p>Shop Hours:</p>
                <p>Monday: closed</p>
                <p>Tuesday-Saturday: 9:00 am to 5:00 pm</p>
                <p>Donations Accepted:</p>
                <p>Tuesday-Saturday: 9:00 am to 4:30 pm</p>
                <a class="link-hover" href="/donate"><h5 class="green-font">Gift Certificates are available</h5></a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<div class="row info-row info-rowTopMargin">
  <div class="col-md-12 ">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center gray-font">
        <h4 class="green-font">What can you do?</h4>
        <p class="gray-font">Become a community partner, participate in school food drives, contribute to the Food of the Month program, organize food drives in your church or place of business, participate in the annual Souper Bowl Sunday event many church youth groups hold. Any food you donate will go to a home in need.</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
