    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">
                    <img src="./public/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">

                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank"><img id="fb-icon" src="./public/assets/img/facebook-transparent.png" width="50px">Join us on Facebook</a>
                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Ministries and Programs</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Gift Ideas</a></li>
                            <li><a href="#">Newletter</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <a class="navbar-brand" id="volunteer" href="#">Volunteer</a>
                            <a class="navbar-brand" id="donate" href="#">Donate</a>
                        </ul>

                    </div>

                </nav>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row image-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>
            <div class="col-md-10 image-div">
            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row info-row">
      <div class="col-md-12 ">

        <div class="col-md-1">
        </div>

        <div class="col-md-10 ">
            <div class="col-md-12">
                <div class="col-md-3 contentBox">
                </div>
                <div class="col-md-3 contentBox">
                </div>
                <div class="col-md-3 contentBox">
                </div>
                <div class="col-md-3 contentBox">
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

      </div>
    </div>

    <div class="row footer-row">
        <div class="col-md-12 ">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="orange-footer">
                <footer class="ocim-footer">
                <p>Come Join Hands With Us!</p>
                <p>He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV</p>
                <p>Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194</p>
                </footer>
                </div>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>



