    <div class="row top-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <header class="pageHeader">
                    <img src="/assets/img/banner.svg" class="bannerImg" alt="OCIM Image" title="OCIM Image">

                    <a class="fb-link" href="https://www.facebook.com/Orange-Congregations-in-Mission-196601733690555/" target="_blank"><img id="fb-icon" src="/assets/img/facebook-transparent.png" width="50px">Join us on Facebook</a>
                </header>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row nav-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav">
                                <li><a class="forestgreen" href="/index">Home</a></li>
                                <li><a class="forestgreen" href="/events">Events</a></li>
                                <li><a class="forestgreen" href="/aboutUs">About Us</a></li>
                                <li><a class="forestgreen" href="/contactUs">Contact Us</a></li>
                                <li><a class="forestgreen" href="/giftIdeas">Gift Ideas</a></li>
                                <li><a class="forestgreen" href="http://pub.lucidpress.com/ocimfallnewsletter/" target="_blank">Newletter</a></li>
                            </ul>
                        </div>
                </nav>
            </div>

            <div class="col-md-3">
                <a href="/volunteer" id="volunteer" class="btn btn-primary btn-nav active">Volunteer</a>
                <a href="/donate" id="donate" class="btn btn-primary btn-nav">Donate</a>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row image-row">
        <div class="col-md-12">

            <div class="col-md-1">
            </div>
            <div class="col-md-10 image-div">
            <img src="/assets/img/deliverImage.jpg" class="bannerImg" alt="OCIM Image" title="OCIM Image" width="33%">
            <img src="/assets/img/majorWife.jpg" class="bannerImg" alt="OCIM Image" title="OCIM Image" width="33%">
            <img src="/assets/img/volunteerBagging.jpg" class="bannerImg" alt="OCIM Image" title="OCIM Image" width="33%">
            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>

    <div class="row info-row">
      <div class="col-md-12 ">

        <div class="col-md-1">
        </div>

        <div class="col-md-10 ">
            <div class="col-md-12">
                <div class="col-md-3 contentBox thumbnail">

                    <div class="caption">
                    <h5><span>For Our</span>Meals on Wheels<span>Program</span></h5>
                    <p>Be an In-house Volunteer (takes about one hour)

                    Transfer meals from one caddie to another for delivery each day
                    Greet drivers
                    Thank returning drivers and record any concerns
                    Clean out caddies (simple wiping clean, airing out)

                    — or —

                    Be a Driver

                    Deliver a hot meal to recipients between 10:30 a.m. and noon
                    (A varying schedule is available Monday – Friday)
                    </p>
                    </div>
                </div>
                <div class="col-md-3 contentBox thumbnail">

                    <div class="caption">
                    <h5><span>For Our</span>Samaritan Relief Ministry</h5>
                    <p>Be a Pantry Volunteer

                    Greet donors, receive and document all donations
                    Shelve donations
                    Fill grocery orders according to information given to them by staff, and according to set grocery list
                    Other tasks completed as needed such as inventory, personal pack assembly, working with fresh produce, cleaning, etc.
                    A Pantry Volunteer should be able to bend and/or stoop easily, lift 15 lbs. and be able to grasp cans easily
                    Times available Monday-Friday 9:00 a.m. – 12:30 p.m. or 1:30 p.m. – 5:00 p.m.
                    </p>
                    </div>
                </div>
                <div class="col-md-3 contentBox thumbnail">

                    <div class="caption">
                    <h5><span>For Our</span>Thrift Shop</h5>
                    <p>Be a Pricing Assistant

                    Check garments for tears, broken zippers. Make sure garments are of good quality and fashionable
                    Place garments on proper size hangers
                    Use pricing guide to price garments and places price tags on them
                    Hang up garments on the selling floor
                    </p>
                    </div>
                </div>
                <div class="col-md-3 contentBox thumbnail">

                    <div class="caption">
                    <h5><span>For Our</span>Administration</h5>
                    <p>Be a Special Projects Volunteer

                    Participate in fund raisers
                    Participate in Walk for Hunger </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>

      </div>
    </div>
    <div class="row footer-row">
        <div class="col-md-12 ">

            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="orange-footer">
                <footer class="ocim-footer">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" id="footerImg" src="/assets/img/ocimBlacktree.jpg">
                        </a>
                        <div class="media-body">

                            <p>Come Join Hands With Us!<br>
                            He who has two coats, let him share with him who has none and he who has food, let him do likewise.  Luke 3:11 RSV<br>
                            Orange Congregations in Mission   300 Millstone Drive   Hillsborough, NC 27278   (919) 732-6194<br>

                           <p> @Copyright  S. Gaddy, C. Savino, L. Solanki</p>

                        </div>
                      </div>
                    </div>
                </footer>
                </div>
            </div>

            <div class="col-md-1">
            </div>

        </div>
    </div>

