<div class="row image-row">
    <div class="col-md-12">

        <div class="col-md-1">
        </div>
        <div class="col-md-10 image-div">
        <img src="/assets/img/deliverImage.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/mayorWife.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/volunteerBagging.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        <img src="/assets/img/volunteer.jpg" class="imageRowImg" alt="OCIM Image" title="OCIM Image" >
        </div>
        <div class="col-md-1">
        </div>

    </div>
</div>

<div class="row info-row">
  <div class="col-md-12 ">

    <div class="col-md-1">
    </div>

    <div class="col-md-10 ">
        <div class="col-md-12">
            <div class="col-md-4">

                <h5 class="green-font">For Our Meals on WheelsProgram</h5>
                <p class="gray-font">Be an In-house Volunteer (takes about one hour)

                Transfer meals from one caddie to another for delivery each day
                Greet drivers
                Thank returning drivers and record any concerns
                Clean out caddies (simple wiping clean, airing out)

                — or —

                Be a Driver

                Deliver a hot meal to recipients between 10:30 a.m. and noon
                (A varying schedule is available Monday – Friday)
                </p>

            </div>
            <div class="col-md-4">

                <h5 class="green-font">For Our Samaritan Relief Ministry</h5>
                <p class="gray-font">Be a Pantry Volunteer - Help out as you
                Greet donors, receive and document all donations, Shelve donations, Fill grocery orders
                A Pantry Volunteer should be able to bend and/or stoop easily, lift 15 lbs. and be able to grasp cans easily.<br>
                Times available Monday-Friday 9:00 a.m. – 12:30 p.m. or 1:30 p.m. – 5:00 p.m.
                </p>

            </div>
            <div class="col-md-4">

                <h5 class="green-font">For OurThrift Shop</h5>
                <p class="gray-font">Be a Pricing Assistant

                Check garments for tears, broken zippers. Make sure garments are of good quality and fashionable
                Place garments on proper size hangers
                Use pricing guide to price garments and places price tags on them
                Hang up garments on the selling floor
                </p>
            </div>

    <div class="col-md-1">
    </div>

  </div>
</div>
