body {
  box-sizing: border-box;
}

.pageHeader {
  height: 105px;
  margin-top: 0px;
  margin-bottom: 10px;
}

header>a {
  float: right;
  margin: 20px;
  color: #ffaf0a;
  font-weight: bold;
  text-decoration: none;
}

header>a:hover {
  color: #ffaf0a;
  text-decoration: underline;
}

header>a:visited {
  color: #ffaf0a;
  text-decoration: none;
}

a.fb-link {
  margin: 30px;
}

#fb-icon {
  width: 30px;
}

.navbar {
  border-style: none;
}

.navbar-default .navbar-nav>li>a {
  color: forestgreen;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: forestgreen;
}

.btn-nav:link {
  background-color: #ffaf0a;
  padding: 20px;
  width: 106px;
  text-align: center;
  border-style: none;
}

.btn-nav:visited {
  background-color: #ffaf0a;
}

.btn-nav:hover {
  background-color: forestgreen;
}

.btn-nav:active {
  background-color: #ffaf0a;
}

#volunteer {
  margin: 0 20px 0 0;
}

#donate {
  margin: 0;
}

.image-div {
  min-height: 200px;
  margin-bottom: 20px;
}

.bannerImg {
  width: 33%;
  margin-top: 20px
}

#homeImg {
  margin:0 auto;
}

.contentBox {
  min-height: 300px;
  min-width: 200px;
  height: 100%;
  overflow: auto;
  margin-bottom: 30px;
  border-style: none;
}

.outline {
  border: 1px solid lightgray;
  border-radius: 5px;
}

#UWTriangleImg {
  width: 202px;
}

.ocim-footer {
  text-align: center;
  min-height: 120px;
  width: 100%;
  margin: 0;
  background-color: #ffaf0a;
  color: forestgreen;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}

 #footerImg {
  float: left;
  height: 90px;
  margin: 10px 20px 10px 20px;
 }
