body {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h5 {
  font-size: 17px;
}

.pageHeader {
  height: 105px;
  margin-top: 0px;
  margin-bottom: 10px;
}

header>a {
  float: right;
  margin: 20px;
  color: #ffc245;
  font-weight: bold;
  text-decoration: none;
}

header>a:hover {
  color: #ffc245;
  text-decoration: underline;
}

header>a:visited {
  color: #ffc245;
  text-decoration: none;
}

.bannerImg {
  max-width: 350px;
  margin: 10px 0px 30px 0;
}

a.fb-link {
  margin: 40px 0 0 0;
  color: #ffc245;
}

#fb-icon {
  width: 30px;
}

/* removes border placed by bootstrap around navbar */
.navbar {
  border-style: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #4ea24e; /*green*/
  background-color: white;
  padding: 0 0 4px 0;
  margin: 19.5px;
}

/* this doesn't work, it is overwritten*/
.navbar-default .navbar-nav>li>a:active {
  border-bottom: 2px solid #4ea24e;
}

li>a.active {
  border-bottom: 2px solid #4ea24e;
}

.btn-nav:link,
.btn-nav:visited,
.btn-nav:hover,
.btn-nav:active {
  background-color: #4ea24e;
  color: white;
  padding: 20px;
  width: 106px;
  text-align: center;
  border-style: none;
  margin: 0 0 0 20px;
}

.col-md-12 {
  border: none;
}

.well {
  background-color: white;
  border: none;
}

.image-div {
  min-height: 200px;
  margin-bottom: 20px;
}

.imageRowImg {
  height: 250px;
  text-align:center;
}

.gift-ideas {
  color: #4ea24e;
}

#aboutUsImg {
  margin:0 auto;
}

.paypalImg {
  margin-top: 20px;
}

.giftcard {
  margin-top: 20px
}

.goodsearch {
  margin-top: 20px;
}

.contentBox {
  min-height: 300px;
  min-width: 200px;
  height: 100%;
  overflow: auto;
  margin-bottom: 30px;
  border-style: none;
}

.events-heading {
  margin-bottom: 30px;
  color: #4ea24e;
}

.green-font {
  color: #4ea24e;
  /*color: forestgreen;*/
}

.gray-font {
  color: #4a4a4a;
}

.input-row {
  margin-top: 40px;
}

.info-rowTopMargin {
  margin-top: 40px;
}

.top-margin {
  margin-top: 30px;
}

 .bottom-margin {
  margin-bottom: 30px;
 }

.link-hover:hover {
  color: #4ea24e;
  text-decoration: underline
}

.gift-ideas {
  color: #4ea24e;
}

.heading {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-caption {
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  backgrouncolor:#ffffff;
}

.btnGray {
  background-color: #f2f2f2;
}

/*doesn't overwrite bootstrap on focus*/
.input-box, .input-box:focus {
  width: 320px;
  border-color: #4a4a4a;
  border-style: solid;
  margin: 10px;
  color: #4a4a4a ;
  padding: 5px;
}

.event-textarea {
  border: 2px solid #4a4a4a;
}

.btnCreate {
  margin-bottom: 30px;
}

.last-row {
  margin-bottom: 30px;
}

.image-div {
  min-height: 200px;
  margin-bottom: 20px;
}

#nartsImg {
  width: 175px;
}

#UWTriangleImg {
  width: 202px;
}

#nccnpImg {
  width: 150px;
  margin-left: 20px;
}

#mowImg {
  width: 200px;
}

.footer-row {
  margin-bottom: 0;
}

#copyright {
  margin-bottom: 0;
}

.footer-right {
  display: inline;
  margin-left:50px ;
  color: #4ea24e;
}

.footer-right:hover {
  text-decoration: underline;
  color: #4ea24e;
}

.footerP {
  text-align: center;
  min-height: 75px;
  width: 100%;
  color: #4ea24e;
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 40px
}
