body {
  box-sizing: border-box;
}

.pageHeader {
  height: 105px;
  margin-top: 0px;
  margin-bottom: 10px;
}

header>a {
  float: right;
  margin: 20px;
  color: #ffaf0a;
  font-weight: bold;
  text-decoration: none;
}

header>a:hover {
  color: #ffaf0a;
  text-decoration: underline;
}

header>a:visited {
  color: #ffaf0a;
  text-decoration: none;
}

a.fb-link {
  margin: 30px;
}

#fb-icon {
  width: 30px;
}

.navbar {
  border-style: none;
}

.navbar-default .navbar-nav>li>a {
  color: forestgreen;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: forestgreen;
}

#news-link:link #news-link:visited #news-link:hover #news-link:focus{
  color: purple;
}

.btn-nav:link {
  background-color: #ffaf0a;
  padding: 20px;
  width: 106px;
  text-align: center;
  border-style: none;
}

.btn-nav:visited {
  background-color: #ffaf0a;
}

.btn-nav:hover {
  background-color: forestgreen;
}

.btn-nav:active {
  background-color: #ffaf0a;
}

#volunteer {
  margin: 0 20px 0 0;
}

#donate {
  margin: 0;
}

.image-div {
  min-height: 200px;
  margin-bottom: 20px;
}

.giftImg {
  width: 33%;
  margin-top: 20px;
  height: 250px;
  text-align: center;
}

.bannerImg {
  max-width: 400px;
  margin: 10px 0px 30px 0;
}

#aboutUsImg {
  margin:0 auto;
}

.imageRowImg {
  width: 23%;
  margin-top: 20px;
  height: 250px;
  text-align:center;
}

.contentBox {
  min-height: 300px;
  min-width: 200px;
  height: 100%;
  overflow: auto;
  margin-bottom: 30px;
  border-style: none;
}

.events-heading {
  margin-bottom: 30px;
  color: forestgreen;
}

.bold-orange-font {
  color: #ffaf0a;
  font-weight:bold;
}

.green-font {
  color: forestgreen;
}

.table-caption {
  font-size: 20px;
}

tr:nth-child(even) {
  color:forestgreen;
}

tr:nth-child(odd) {
  color: #ffaf0a;
  font-weight: 600;
}

.input-box {
  width: 300px;
  border-color: #ffaf0a;
  border-style: solid;
}

.event-textarea {
  border-color: #ffaf0a;
  border: 2px solid #ffaf0a;
}

.margin {
  margin-bottom: 30px;
}

.bold {
  font-weight: bold;
}

.footerP {
  text-align: center;
  min-height: 75px;
  width: 100%;
  color: forestgreen;
  font-size: 15px;
  font-weight: bold;
  font-weight: 500;
  padding-top: 10px;
  margin-bottom: 0;
}

.media {
  color: forestgreen;
}

#nartsImg {
  float: left;
  width: 175px;
  margin:20px;
}

#UWTriangleImg {
  float: left;
  width: 202px;
  margin: 20px;
}

#nccnpImg {
  float: left;
  width: 150px;
  margin: 0px 20px 20px 20px;
}

#mowImg {
  float: left;
  width: 200px;
  margin: 20px;
}

.footer-row {
  margin-bottom: 0;
}

#copyright {
  margin-bottom: 0;
}

#login {
  background: white;
  color: #ffaf0a;
  font-size: 15px;
  font-weight: bold;
}
